<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>schedule.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <section class="cekjadwal" id="cekjadwal">
        <div class="table-responsive" id="Table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nama Mata Kuliah</th>
                        <th scope="col">Nama Dosen</th>
                        <th scope="col">Jumlah SKS</th>
                        <th scope="col">Deskripsi Mata Kuliah</th>
                        <th scope="col">Tahun Semester</th>
                        <th scope="col">Ruang Kelas</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for i in jadwal_ku %}
                <tbody>
                    <tr>
                        <td>{{i.nama_mata_kuliah}}</td>
                        <td>{{i.nama_dosen}}</td>
                        <td>{{i.jumlah_sks}}</td>
                        <td>{{i.deskripsi_mata_kuliah}}</td>
                        <td>{{i.tahun_semester}}</td>
                        <td>{{i.ruang_kelas}}</td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
    </section>
    <a href="{% url 'jadwal:jadwal' %}" class="btn btn-default btn-lg"><u>BACK</u></a>
    <div class="footer">
        <p>Copyright @ 2020 Dzaky</p>
      </div>
</body>
</html>