<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>schedule.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style2.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
</head>

<body>
    {% include 'navbar.html' %}
    <section class="inputJadwal" id="inputJadwal">
        <div class="container pt-5 pb-3 justify-content">
            <div class="row pt-5">
                <div class="col-md-4">
                    <div class="card text-white bg-primary mb-3 pb-3 text-center" style="max-width: 18rem;">
                        <div class="card-body">
                          <h5 class="card-title"><h2><b>Isi Jadwal</b></h2></h5>
                          <p class="card-text"><i>Pengisian jadwal hanya dilakukan oleh mahasiswa Fakultas Ilmu Komputer Universitas Indonesia.</i></p>
                        </div>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><h1>Lokasi</h1></li>
                        <li class="list-group-item">Fakultas Ilmu Komputer.</li>
                        <li class="list-group-item">Kampus UI Depok, Pondok Cina, Kecamatan Beji, Kota Depok, Jawa Barat 16424</li>
                        <li class="list-group-item">(021) 7863419</li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <form action="" method="POST" class="ml-5">
                        {% csrf_token %}
                        {{ formulir }}
                        <div class = "centre-items" style = "margin-top: 2%">
                            <input type = "submit" class="btn btn-primary" value="Submit"> 
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    
    <section class="cekjadwal" id="cekjadwal">
        <div class="table-responsive" id="Table">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Nama Mata Kuliah</th>
                        <th scope="col">Nama Dosen</th>
                        <th scope="col">Jumlah SKS</th>
                        <th scope="col">Deskripsi Mata Kuliah</th>
                        <th scope="col">Tahun Semester</th>
                        <th scope="col">Ruang Kelas</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                {% for i in jadwal_ku %}
                <tbody>
                    <tr>
                        <td>{{i.nama_mata_kuliah}}</td>
                        <td>{{i.nama_dosen}}</td>
                        <td>{{i.jumlah_sks}}</td>
                        <td>{{i.deskripsi_mata_kuliah}}</td>
                        <td>{{i.tahun_semester}}</td>
                        <td>{{i.ruang_kelas}}</td>
                        <td><a  href = "{% url 'jadwal:detail' pk=i.pk %}"><button class="btn btn-icon btn-danger">Detail</button></a></td>
                        <td><a  href = "{% url 'jadwal:hapus' pk=i.pk %}"><button class="btn btn-icon btn-danger">Delete</button></a></td>
                    </tr>
                </tbody>
                {% endfor %}
            </table>
    </section>

    <div class="footer">
        <p>Copyright @ 2020 Dzaky</p>
      </div>
</body>
</html>