<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>about.</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</head>
<body>
    {% include 'navbar.html' %}
    <div class="center">
        <a rel="noopener noreferrer" href="https://www.linkedin.com/in/dzaky-zaydan-49bb681a2/" target="_blank">
        <img src="https://www.iconfinder.com/data/icons/social-round-corner/512/linkdin__social_media_logo-512.png" width="70" height="70">
        </a>
        <a rel="noopener noreferrer" href="https://www.facebook.com/dzaky.zaydan" target="_blank">
        <img src="https://www.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-02-512.png" width="70" height="70">
        </a>
        <a rel="noopener noreferrer" href="https://twitter.com/Dzaky_DZ" target="_blank">
        <img src="https://www.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-03-512.png" width="70" height="70">
        </a>
        <a rel="noopener noreferrer" href="https://www.instagram.com/dzakyzaydan/" target="_blank">
        <img src="https://www.iconfinder.com/data/icons/transparent-on-dark-grey/500/icon-04-512.png" width="70" height="70" >
        </a>
    </div>
    <div class="footer">
        <p>Copyright @ 2020 Dzaky</p>
      </div>
</body>
</html>